

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.429);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
   
}

.login-box h2 {
    margin-bottom: 20px;
    color: #fff;
}

.textbox {
    margin: 10px 0;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    border-bottom: 2px solid #fff;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #00695c;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}

.remember {
    margin-top: 15px;
    color: #fff;
}

.forgot {
    float: right;
    text-decoration: none;
    color: #3f73d1;
}

.forgot:hover {
    text-decoration: underline;
}

input[type="checkbox"] {
    margin-right: 5px;
}
